.navbar {
    position: absolute;
    height: 100vh;
    width: 75%;
    left: -80vw;
    transition: .4s ease-in;
    box-shadow: 2px 2px 3px rgb(202, 202, 202);
    z-index: 1000;
}

.active {
    left: 0;
    transition: .8s ease-in-out;
}

.navbar li {
    padding: 10px 45.4px 10px 40px;
    box-sizing: border-box;
}

.navbar li:hover {
    border-left: 6px solid var(--red);
    color: var(--red);
    padding-left: 34px;
    font-weight: 600;
}

.navbar a:hover {
    color: var(--red);
}

.navbar-link {
    color: var(--black);
}