.abilities {
    padding: 1.5rem 0;
    margin: 0 1rem;
    text-align: center;
}

.abilities-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.abilities-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.7rem;
    margin-bottom: 1.5rem;
}

/* Card */
.abilities-card {
    position: relative;
    padding: .7rem 0;
    width: 47%;
    border-radius: 5px;
    box-shadow: 1px 1px 4px var(--grey);
    background-color: var(--full-white);
    transition: .2s;
}

.card-html:hover,
.card-git:hover {
    background-color: rgb(255, 223, 195);
    color: var(--black);
}

.card-css:hover {
    background-color: rgb(193, 227, 255);
    color: var(--black);
}

.card-js:hover {
    background-color: rgb(255, 255, 183);
    color: var(--black);
}

.abilities-card__img {
    width: 80%;
}

.img-git {
    margin: .3rem;
    width: 74%;
}

.abilities-card__title {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

@media screen and (min-width: 764px) {
    .abilities {
        margin: 0 3.5rem;
        position: relative;
        /* padding: 4rem 0; */
        padding: 10.1rem 0;
        /* height: 95vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .abilities-title {
        font-size: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 2.5rem;
    }

    .abilities-container {
        gap: 2rem;
    }

    .abilities-card {
        width: 20%;
    }

    .img-git {
        margin: .7rem 0;
    }
}

@media screen and (min-width: 1440px) {
    .abilities {
        margin: 0 7rem;
        /* height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    }

    .abilities::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 50vw;
        height: 1.3px;
        background-color: var(--red);
        top: 17vh;
        left: 50%;
    }

    .abilities::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 50vw;
        height: 2px;
        background-color: var(--red);
        bottom: 8vh;
        right: 50%;
    }

    .abilities-title {
        margin-bottom: 4rem;
    }

    .abilities-container {
        flex-wrap: nowrap;
        gap: 2rem;
    }
}