.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    padding: 2.3rem 0;
}

.about-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.7rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-img {
    width: 100%;
    margin: 2rem 0;
}

.about-container__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    margin: 1rem 0;
}

.about-button {
    padding: .8rem 3rem;
    margin: .5rem 0;
}

/* tablet view */
@media screen and (min-width: 764px) {
    .about {
        margin: 0 3.5rem;
        padding: 4rem 0;
        gap: .3rem;
    }

    .about-title {
        font-size: 2.5rem;
    }

    .about-img {
        width: 70%;
    }

    .about-button {
        margin-top: 1.3rem;
    }
}

@media screen and (min-width: 1440px) {
    .about {
        margin: 0 7rem;
        padding: 2.5rem 0;
        gap: 3rem;
    }

    .about-container {
        flex-direction: row;
        gap: 6.5rem;
    }

    .about-img {
        width: 100%;
        margin: 0 0 0 0;
        transition: .5s;
    }

    .about-img:hover {
        transform: scale(1.05);
    }

    .about-title {
        margin-top: 2rem;
    }

    .about-button {
        margin-top: 2.5rem;
    }
}