.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    padding: 2rem 0;
}

.about-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.7rem;
}

.about-text {
    margin: 1.1rem 0;
}

.about-button {
    padding: .8rem 3rem;
    margin: .5rem 0;
}

.about-img {
    width: 100vw;
    margin-top: 2.5rem;
}