.banner {
    background-image: url(../img/banner/banner-mobile.PNG);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 92vh;
    position: relative;
    color: var(--white);
    margin-top: 4rem;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.banner-container__info {
    text-align: center;
}

.banner-title {
    font-size: 2.1rem;
    font-weight: 400px;
    line-height: 3.3rem;
}

.banner-subtitle {
    color: var(--grey);
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin: .4rem 0 1rem 0;
}

.banner-text {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

.banner-button {
    padding: .8rem 1.5rem;
    margin: 1.5rem 0 2.3rem 0;
}

.banner-container__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-img {
    width: 207px;
    border-radius: 100%;
}

.icon-down {
    margin-top: 1.5rem;
    font-size: 2rem;
}

@media screen and (min-width: 635px) {
    .banner {
        background-image: url(../img/banner/banner-tablet.PNG);
        height: 94vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-container {
        width: 88%;
        padding: 3.3rem 0;
    }

    .banner-button {
        margin: 1.8rem 0 2.5rem 0;
    }

    .banner-img {
        width: 30%;
    }

    .icon-down {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 764px) {
    .banner {
        height: 95vh;
    }

    .banner-container {
        gap: 1rem;
    }

    .banner-title {
        font-size: 2.8rem;
    }

    .banner-subtitle {
        font-size: 2.5rem;
    }

    .banner-img {
        width: 25%;
        /* width: 300px; */
    }
}

@media screen and (min-width: 992px) {
    .banner-container {
        flex-direction: row;
    }

    .banner-container {
        width: 75%;
        gap: 6rem;
    }

    .banner-container__info {
        text-align: left;
    }

    .banner-text {
        text-align: left;
        margin: .9rem 0 1.8rem 0;
    }

    .banner-button {
        margin: 0 0 0 10rem;
    }

    /* img animation */
    .banner-img {
        width: 85%;
        position: relative;
        transition: 1s;
    }

    @keyframes rotate {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(25deg); }
        50% { transform: rotate(0deg); }
        75% { transform: rotate(-25deg); }
        100% { transform: rotate(0deg); }
    }

    .banner-img:hover {
        animation-name: rotate;
        animation-duration: .3s;
        animation-timing-function: linear;
    }

    .icon-down {
        position: absolute;
        bottom: 10%;
        left: 48%;
    }
}