.banner {
    background-image: url(../img/banner/banner-mobile.PNG);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 92vh; /*** IT NEED 1 2 MORE HEIGHT ***/
    position: relative;
    color: var(--white);
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    height: 82vh;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.banner-title {
    font-size: 2.1rem;
    font-weight: 400px;
    line-height: 3.3rem;
}

.banner-subtitle {
    color: var(--grey);
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin: .4rem 0 1rem 0;
}

.banner-text {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

.banner-button {
    padding: .8rem 1.5rem;
    margin: 1.5rem 0 2.3rem 0;
}

.banner-img {
    width: 70%; /*55*/
    border-radius: 100%;
}

.icon-down {
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

@media screen and (min-width: 635px) {
    .banner {
        background-image: url(../img/banner/banner-tablet.PNG);
        height: 94vh;
    }

    .banner-container {
        width: 88%;
        padding: 3.3rem 0;
    }

    .banner-button {
        margin: 1.8rem 0 2.5rem 0;
    }

    .banner-img {
        width: 55%;
    }

    .icon-down {
        margin-top: 3rem;
    }
}

/* tablet view */
@media screen and (min-width: 764px) {
    .banner {
        height: 95vh;
    }

    .banner-container {
        gap: .2rem;
    }

    .banner-title {
        font-size: 2.8rem;
    }

    .banner-subtitle {
        font-size: 2.5rem;
    }

    .banner-img {
        width: 72%;
    }
}