.footer {
    background-color: var(--dark-grey);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 1.7rem 0;
}

.footer::after {
    content: "";
    width: 100vw;
    height: 6px;
    background-color: var(--red);
    position: absolute;
    bottom: 100%;
}

.footer-container {
    display: flex;
    gap: 5rem;
}

.footer-link_social-network {
    width: 23px;
}

.footer-img {
    width: 35px;
}

.footer-text {
    font-size: 0.8rem;
    margin-top: .5rem;
}

.footer-text_span {
    color: var(--red);
}

/* @media screen and (min-width: 1024px) {

} */