.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1.3rem;
    box-shadow: .5px .5px 1px #767676/*rgb(202, 202, 202)*/;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--full-white);
    z-index: 999;
    box-sizing: border-box;
}

.header-logo a {
    display: flex;
}

.logo {
    width: 13rem;
}

/* icon */
.header-icon {
    color: var(--black);
    font-size: 2.5rem;
    margin-right: 15.5px;
}

.header-navegation {
    display: none;
}

@media screen and (min-width: 770px) {
    .header {
        padding: 0 2rem;
        height: 4rem;
    }

    .header-navbar-button {
        display: none;
    }

    .header-navegation {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
    }

    .navegation-link {
        color: var(--black);
        font-weight: 400;
        padding: 1.1rem .8rem;
    }

    .navegation-link:hover {
        padding-bottom: 15px;
        border-bottom: 5px solid var(--red);
        color: var(--red);
        transition: .3s;
    }

    .navegation-link:active {
        border-bottom: 5px solid var(--grey);
        color: var(--grey);
    }

    .navegation-icon {
        font-size: 1.5rem;
    }
}