.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    box-shadow: 2px 2px 1px rgb(202, 202, 202); /* shadow ok! It need to add more elements after header a nav */
}

.header-logo a {
    display: flex;
}

.logo {
    width: 14rem;
}

.fa-bars {
    color: var(--black);
    font-size: 2.5rem;
}

.logo, .fa-bars {
    margin: 0 .8rem;
}