.projects {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

/* Card */
.projects-card {
    width: 76%;
    position: relative;
    background-color: var(--black);
    margin-bottom: 3.5rem;
    border-radius: 7px;
}

.projects-card__img {
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

/* grid container */
.card-description {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: .5rem;
    padding: 0.3rem 1.3rem 1rem 1.3rem;
}

.card-description__title {
    grid-column: 1 / span 2;
    justify-self: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
}

.card-container__1 {
    grid-column: 1;
    color: var(--white);
}

.card-container__2 {
    grid-column: 2;
    justify-self: end;
    align-self: center;
}

.card-description__link {
    font-size: 2.8rem;
    margin-left: 1rem;
    color: var(--white);
}

.projects-button {
    padding: .8rem 1.5rem;
    margin: 0 0 2rem 0;
}

.projects-container__desktop {
    display: none;
}

/* tablet view */
@media screen and (min-width: 764px) {
    .projects {
        margin: 0 4rem;
        padding: 3rem 0;
    }

    .projects-card {
        width: 70%;
    }

    .card-description {
        padding: .5rem 2rem 1.3rem 2rem;
    }

    .card-description__link {
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .projects {
        margin: 0 7rem;
        padding: 5rem 0;
    }

    .swiper {
        display: none;
    }

    .projects-container__desktop {
        display: block;
    }
}