.projects-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.4rem 0;
    margin: 0 auto;
    width: 95%;
}

.projects-page__title {
    margin: 1.5rem 0 2.5rem 0;
}

.projects-page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 764px) {
    .projects-page__container {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 2rem;
    }

    .projects-card {
        width: 47.8%;
    }
}

@media screen and (min-width: 992px) {
    .projects-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 91%;
        padding: 5rem 0;
    }

    .projects-page__container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 1.5rem;
    }

    .projects-card {
        width: 100%;
    }
}
