.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--red);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.7rem;
}

.swiper-pagination {
    margin-bottom: .5rem;
}

.swiper-pagination-bullet-active {
    background: var(--red);
}